body{
    margin: 0px auto;
    padding: 0px auto;
    height: 100vh;
    background-color: #34495e; 
    scroll-behavior: smooth;  
}

.splash{
    background-color: #34495e; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    z-index: 200;
}

.splash.display-none{
    background-color: #34495e; 
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    z-index: -10;
    transition: all 0.5s;
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
}

#container h1{
    color: #FFF;
    font: 27px arial,sans-serif;
    margin-top: -55px;
}

#app{
    background-color:#2e86de;
    max-width: 400px;
    width: auto;
    min-height: 400px;
    height: auto;
    text-align: center;
    border-radius:12px;
    
    
}

#notes{
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    width: 70%;
    height: 10%;
    background-color:#ecf0f1 ;
}

#text-field-input{
    margin-top: -15px;
    margin: -20px;
}

#label-for-input-text-field{
    left:12px;
    width: 95%;
    margin-top: 3px;
}

#sample1{
    width: 255px;
    padding: 4px 12px;
}

#btn-add-container{
    margin-top: 10px;
}

#btn-add{
    background-color: #34495e;
    margin-top: -30px;
    margin-left: 295px;
}
#btn-add:hover{
    box-shadow: 0 0 6px 4px #2a3c4e;
}


#tasksitems li {
    text-align: left;
    padding-left: 12px;
    padding-top: 8px;
    margin-top: 10px;
    margin-left: -18px;
    height: 35px;
    width: 90%;
    border-radius: 8px;
    background-color: #FFF;
    list-style-type: none;
}

#check-item-list{
    margin-top: 10px;
}

#remove-button{
    margin-top: -29px;
    margin-left: 78%
}

#removeItemList{
    background-color: red;
    color: #FFFF;
    text-align: center;
}

#removeItemList:hover{
    background-color: rgb(202, 2, 2);
   
}